* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Manrope", "Arial", sans-serf;
}

.profile-image {
	display: flex;
	justify-content: center;
	align-items: center;
}
.profile-image img {
	width: 40%;
}
