* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Manrope", "Arial", sans-serf;
}

.profile-image {
	display: flex;
	justify-content: center;
	align-items: center;
}
.profile-image img {
	width: 40%;
}

section {
	padding: 10px 0;
}

.container {
	padding: 0 10px;
}

h2 {
	color: red;
}
